.wrapperDiv {
	width: 12rem;
	height: 3rem;
}

@media screen and (max-width: 1024px) {
	.wrapperDiv {
		width: 48%;
	}
}

@media screen and (max-width: 768px) {
	.wrapperDiv {
		width: 100%;
		height: 50px;
	}
}

.formField,
.formFieldModal {
	position: relative;
	width: 100%;
	height: 3rem;
	justify-content: space-between;
	align-items: center;
	background-color: white;
	border-left-color: #d4d4d4;
	padding-inline: 0.25rem;
	padding-block: 0.75rem;
}

.formField {
	display: flex;
}

.formFieldModal {
	display: none;
	border: 1px solid gray;
}

.blockSearchModal {
	width: 100%;
	padding: 0.5rem;
	display: none;
}

@media screen and (max-width: 1024px) {
	.formField {
		flex-direction: row-reverse;
	}
}

.wrapperDivModal {
	display: none;
	width: 100vw;
	height: 100dvh;
	background-color: white;
	padding-block-end: 2rem;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 100;
	overflow-y: scroll;
}

.modalHeader {
	width: 100%;
	height: 4rem;
	background-color: blue;
	color: white;
	display: none;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
}

@media screen and (max-width: 768px) {
	.wrapperDivModal {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
	}

	.modalHeader {
		display: flex;
	}
}

.searchDate {
	width: 45%;
	height: 140%;
	padding-left: 10px;
	border: none;
	outline: none;
	background-color: #e1e7ef;
	cursor: pointer;
	font-family: 'Open Sans', sans-serif;
	/* font-size: 0.8em; */
}

.blockDateInput {
	width: 85%;
	height: 90%;
	margin-block: auto;
	display: flex;
	align-items: center;
	gap: 0.25em;
	border: none;
	padding-inline: 0.25rem;
}

@media screen and (min-width: 1024px) {
	.blockDateInput {
		border-right: 1px solid #e1e7ef;
	}
}

.dateIcon {
	font-size: 1.2em;
	color: blue;
	cursor: pointer;
}

@media screen and (max-width: 1024px) {
	.dateIcon {
		font-size: 1.75em;
		margin-inline: 0.5rem;
	}
}

.groupInfo {
	width: 100%;
	height: 3rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}

.blockError {
	width: 100%;
	height: 4rem;
	background-color: #f5f5f5;
	color: rgb(109 128 143);
	padding: 0.25em;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 3.2rem;
	left: 0;
	z-index: 10;
}

@media screen and (min-width: 1024px) {
	.blockError {
		width: 25rem;
		left: -5rem;
		height: 3rem;
	}
}

@media screen and (max-width: 768px) {
	.blockError {
		height: 5rem;
		width: 100%;
		top: 3.5rem;
		left: 0;
	}
}

.title {
	margin-block: 1rem;
}

.formList {
	width: 300%;
	height: 20rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	position: relative;
	background-color: #e1e7ef;
	padding: 0.5rem;
	z-index: 50;
}

@media screen and (max-width: 1024px) {
	.formList {
		width: 125%;
		min-width: 500px;
	}
}

.formListModal {
	width: 100%;
	height: 100%;
	display: none;
}

@media screen and (max-width: 768px) {
	.formListModal {
		display: block;
	}

	.formList {
		display: none;
	}
}

.searchList,
.searchListModal {
	background-color: #e1e7ef;
	height: 80%;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	margin: 0;
}

.searchList {
	position: absolute;
	top: 4rem;
	left: 4%;
	z-index: 50;
}

.searchListModal {
	width: 100%;
	background-color: white;
}

.headerModalDate {
	width: 100%;
	display: flex;
	flex-direction: column;
	position: fixed;
	top: 0;
	left: 0;
	border: 1px solid transparent;
	z-index: 100;
}

.weekDaysModal {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	gap: 5px;
	text-align: center;
	background-color: white;
	padding: 0.5rem;
}

.iconClose {
	font-size: 1.4rem;
	cursor: pointer;
}
