.wrapperDiv {
	min-width: 10rem;
	max-width: 100%;
	box-sizing: border-box;
	height: 3rem;
	position: relative;
}

@media screen and (max-width: 1024px) {
	.wrapperDiv {
		width: 48%;
	}
}

@media screen and (max-width: 768px) {
	.wrapperDiv {
		width: 100%;
		height: 50px;
	}
}

.wrapperHeaderModal {
	width: 100%;
	height: 4rem;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 50;
}

.formField,
.formFieldModal {
	position: relative;
	width: 100%;
	height: 3rem;
	justify-content: space-between;
	align-items: center;
	background-color: white;
	border-left-color: #d4d4d4;
	padding-inline: 0.25rem;
	padding-block: 0.75rem;
}

.formField {
	display: flex;
	box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
	.formField {
		border-radius: 5px;
	}
}

.formFieldModal {
	display: none;
	border: 1px solid gray;
}

.blockSearchModal {
	width: 100%;
	padding: 0.5rem;
	display: none;
	background-color: white;
}

@media screen and (max-width: 768px) {
	.formFieldModal {
		display: flex;
	}

	.blockSearchModal {
		display: block;
	}
}

.wrapperDivModal {
	display: none;
	width: 100vw;
	height: 100dvh;
	background-color: white;
	padding-block-end: 2rem;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 100;
	overflow-y: scroll;
}

.modalHeader {
	width: 100%;
	height: 4rem;
	background-color: blue;
	color: white;
	display: none;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
}

@media screen and (max-width: 768px) {
	.wrapperDivModal {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
	}

	.modalHeader {
		display: flex;
	}
}

.formIcon,
.formIconAllowed {
	font-size: 0.8em;
	position: absolute;
	top: 35%;
	right: 5%;
}

.formIcon {
	color: #4c9ce0;
}

@media screen and (max-width: 1024px) {
	.formIcon {
		font-size: 1em;
		right: 4%;
	}
}

.searchAir {
	width: 100%;
	height: 100%;
	padding-inline: 0.25rem;
	border: none;
	border-radius: 3px 0 0 3px;
	font-size: 14px;
	outline: none;
	color: rgb(87 101 113);
	font-family: 'Open Sans', sans-serif;
	font-size: medium;
}

@media screen and (min-width: 1024px) {
	.searchAir {
		border-right: 1px solid #e1e7ef;
	}
}

.searchAir::placeholder {
	color: rgba(87, 101, 113, 0.637);
	font-weight: normal;
	font-size: 0.9em;
}

.listCountry {
	width: 100%;
	text-align: left;
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	color: rgb(124, 144, 160);
	font-weight: 500;
}

@media screen and (max-width: 768px) {
	.listCountry {
		padding: 0.5rem;
	}
}

.formList {
	width: 12rem;
	min-height: 18rem;
	display: block;
	position: relative;
	z-index: 50;
}

@media screen and (max-width: 1024px) {
	.formList {
		width: 100%;
	}
}

.formListMobile {
	width: 100%;
	height: 100dvh;
	display: none;
	margin-block-start: 4rem;
}

@media screen and (max-width: 768px) {
	.formListMobile {
		display: block;
	}

	.formList {
		display: none;
	}
}

.searchListModal {
	background-color: white;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-direction: column;
	gap: 2rem;
	margin: 0;
	padding: 1rem;
}
.searchList {
	background-color: white;
	border: 1px solid #cbcbcb;
	width: 15rem;
	position: absolute;
	top: 0;
	left: -5rem;
	z-index: 50;
	padding: 1rem;
}

@media screen and (max-width: 1024px) {
	.searchList {
		left: 0;
		width: 100%;
	}
}

.iconClose {
	font-size: 1.4rem;
	cursor: pointer;
}

.travelBlockWrapper {
	width: 100%;
	height: 100%;
	display: flex;
	gap: 2rem;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
}

.childrenBlock,
.adultBlock {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

@media screen and (max-width: 768px) {
	.childrenBlock,
	.adultBlock {
		align-items: center;
	}

	.searchListModal {
		gap: 0.75rem;
	}
}

.adultsNumbers,
.childrenNumbers {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.adultsNumbers {
	padding-inline: 0.5rem;
	gap: 1.5rem;
	justify-content: center;
	font-weight: bolder;
}

.childrenNumbers {
	gap: 0.75rem;
	flex-wrap: wrap;
	justify-content: space-between;
	border: 1px solid #dcdcdc;
	background-color: #f2f2f2;
	padding: 0.5rem;
}

.adultItem,
.childItem {
	width: 2.5rem;
	height: 2.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
}

.selectedChildBlock {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: flex-start;
	gap: 0.5rem;
	margin-bottom: 1rem;
}

.childSelectedItem {
	background-color: #4c9ce0;
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	gap: 0.25rem;
	padding: 0.2rem;
}

.childItem {
	flex-direction: column;
}

.childenCheck {
	width: 100%;
	height: 2.5rem;
	border: 1px solid #dcdcdc;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-inline: 0.5rem;
	position: relative;
}

.travelsTitle {
	margin-bottom: 1rem;
}

.childSpan {
	font-weight: bold;
}

.blockError {
	width: 100%;
	height: 3rem;
	background-color: #f5f5f5;
	border: 1px solid #dcdcdc;
	color: red;
	padding: 0.25em;
	margin-bottom: 1rem;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

@media screen and (max-width: 1024px) {
	.childItem,
	.adultItem {
		width: 3rem;
		height: 3rem;
	}

	.adultsNumbers {
		gap: 0.75rem;
	}
}

@media screen and (max-width: 768px) {
	.childItem,
	.adultItem {
		width: 3.5rem;
		height: 3.5rem;
		font-size: 1.25em;
	}

	.adultItem {
		margin-inline: 0.5rem;
	}

	.travelsTitle {
		margin-bottom: 1.5rem;
		font-size: 1.3rem;
	}

	.childenCheck {
		font-size: 1.2em;
		height: 3.5rem;
	}

	.childrenNumbers {
		margin-bottom: 5rem;
	}
}

.btnResultSave {
	width: 100%;
	height: 5rem;
	font-size: 1.2em;
	cursor: pointer;
	border: 1px solid transparent;
	border-radius: 8px;
	background-color: rgb(163, 110, 11);
	color: white;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
}
